body{
	font-family: 'Lato', sans-serif;
	padding-top: 50px;
	margin: 0;
	background-color:#4dcaff;
}

nav{
	background-color: #4dcaff;
	height: 60px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

nav .logo{
	font-family: 'Satisfy', sans-serif;
	text-decoration: none;
	left: 50px;
	position: absolute;
	text-align: left;
	font-size: 20px;
	font-weight: 900;
	top: 0px;
	color: white;
}

nav ul{
	position: absolute;
	right: 50px;
	top: 0px;
}

nav li{
	display: inline-block;
	padding: 0 15px;
	margin-top:15px;
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#welcome{
	background-color: #fa5503;
	height: 80px;
}

#welcome span{
	display:inline-block;
	font-size: 20px;
	color: white;
	animation-delay: .7s;
}

#welcome p{
	text-align:center;
	margin-top: 40px;
	padding-top: 20px;
	font-size: 20px;
}

#pictureBridge{
	text-align:center;
}

#pictureBridge img{
	margin-top: 50px;
	max-width: 80%;
	height: auto;
}

#pictureBridge p{
	font-size: 20px;
	animation-delay: 2.2s;
}

#pictureBridge a{
	text-decoration:none;
	color: white;
}

#photos{
	background-color:#611f11;
	text-align:center;
	position:relative;
	height: 600px;
	padding-top: 25px;
}

#photos h1{
	font-family:'Satisfy', sans-serif;
	color:white;
	font-size: 30px;
}

#photos .box{
	display:inline-block;
	width: 25%;
	padding: 10px;
	font-weight: 400;
	margin: 2% 1% 0%;
	animation-delay: 5s;
}

#photos img{
	height: 100%;
	width: 100%;
	animation-delay: .5s;
}

#form{
	background-color:#4d4c4b;
	height: 270px;
	position:relative;
	text-align:center;
}

form{
	padding-top: 15px;
}

form input,
form textarea{
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: #fff;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	padding-top: 10px;
	width: 30%;
}

#form button{
	font-size: 15px;
	border-radius: 4px;
}

.footer{
	height: 35px;
	text-align: right;
}

.footer i{
	font-size: 20px;
	color:white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	animation-delay: 1s;
}